$base-color: #003B90;
$base-color-gray: #DBDBDB;
$base-color-gray-1: #F5F5F5;
$base-color-gray-blur: #8A8A8A;
$base-color-gray-dark: #C8C8C8;
$base-color-green: #75C350;
$base-color-green-blur: #75C450;
$base-color-red: #DA3915;
$base-color-green-dark: #529B30;
$base-color-brick: #003B90;
$base-color-button: #E5EAF4;
$base-color-button-red: #DA3915;

@font-face {
  font-family: notosan;
  src: url('../font/Noto_Sans/NotoSans-Regular.ttf');
}

// inpput
input:focus, button:focus, select:focus {
  box-shadow: none !important;
}

input:focus {
  border: 1px solid $base-color !important;
}

input {
  padding-left: 20px !important;
  padding-right: 20px !important;

  &.error {
    border: 2px solid $base-color-red !important;
    background: #F8DBD5;
  }

  &.input-number {
    padding-left: 12px !important;
  }
}

// letter-spacing
.letter-spacing-15 {
  letter-spacing: 0.15em;
}

.letter-spacing-10 {
  letter-spacing: 0.1em;
}

.letter-spacing-5 {
  letter-spacing: 0.05em;
}

// text color
.text-color-gray-dark {
  color: $base-color-gray-dark;
}

.color-gray-place {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $base-color-gray-dark;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $base-color-gray-dark;
  }

  &:-ms-input-placeholder { /* Microsoft Edge */
    color: $base-color-gray-dark;
  }
}

.text-black {
  color: #000000 !important;
}

.text-red {
  color: $base-color-red;
}

.text-blue {
  color: $base-color;
}

//.text-blue:valid {
//  background-color: #00FF7F;
//}
.text-gray-blur {
  color: $base-color-gray-blur;
}

// background
.bg-error {
  background: #FFE5E0;
}

.bg-color-gray-blur {
  background: $base-color-gray-blur;

  &:focus {
    background: $base-color-gray-blur !important;
  }
}

.bg-white-custom {
  background: #FFFFFF;
}

.bg-base-color {
  background: $base-color;

  &:focus {
    background: $base-color !important;
  }
}

.bg-color-green {
  background: $base-color-green;

  &:focus {
    background: $base-color-green !important;
  }
}

.bg-disable {
  background: #A2A2A2 !important;

  &:focus {
    background: #A2A2A2 !important;
  }
}

.bg-disable-2 {
  background: #5F5D5D !important;

  &:focus {
    background: #5F5D5D !important;
  }
}

.bg-color-red {
  background: $base-color-red !important;
}

.bg-color-green-dark {
  background: $base-color-green-dark;
}

.bg-color-green-blur {
  background: $base-color-green-blur !important;
}

.bg-color-gray-dark {
  background: $base-color-gray-dark !important;
}
.bg-color-gray-5 {
  background: #685F5F !important;
  &:hover {
    opacity: 0.9;
  }
}

.bg-color-gray {
  background: $base-color-gray;

  &:focus {
    background: $base-color-gray;
  }
}

.bg-color-gray-4 {
  background: #414141;
}

.bg-color-blue-blur {
  background: #CAD8EC;

  &:focus {
    background: #CAD8EC;
  }
}

.bg-color-gray-2 {
  background: #A3A3A3 !important;
}

.bg-color-gray-3 {
  background: #7D7D7D !important;
}

.bg-color-gray-1 {
  background: $base-color-gray-1;

  &:focus {
    background: $base-color-gray-1;
  }
}

.bg-w-d {
  background: #F1F4F7;
}

.bg-color-blue {
  background: $base-color !important;
}

.bg-color-blue-1 {
  background: #CEDAF1 !important;
}

.bg-color-blue-2 {
  background: #87A8D9 !important;
}

// Font weight
.fw-500 {
  font-weight: 500;
}
.h-30 {
  height: 30px;
}
.h-26 {
  height: 26px;
}
.w-26 {
  width: 26px;
}
// Width
.w-24 {
  width: 24px;
  height: 24px;
}
.w-250 {
  width: 250px;
}
.w-61 {
  width: 61px;
}
.w-30 {
  width: 30px;
}
.w-62 {
  width: 62px;
}

.w-40 {
  width: 40px;
}

.w-274 {
  width: 274px;
}
.w-md-100 {
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
}
.w-calc-319-1rem {
  width: calc(100% - 319px + 1rem);
  @media only screen and (max-width: 992px) {
    width: calc(100% - 220px + 1rem);
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    width: calc(100% - 250px + 1rem);
  }
}
.max-w-190 {
  max-width: 190px;
}
.max-w-280 {
  max-width: 280px;
}
.w-252 {
  width: 252px;
}
.w-252-rps {
  width: 252px;
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
}
.w-calc-252-rps {
  width: calc(100% - 252px);
  padding-left: 30px;
  @media only screen and (max-width: 992px) {
    width: 100%;
    padding-left: 0;
  }
}
.max-w-352 {
  max-width: 352px;
}
.max-w-327 {
  max-width: 327px;
}
.w-125 {
  width: 125px;
}

.w-166 {
  width: 166px;
}

.w-165 {
  width: 165px;
}

.w-120 {
  width: 120px;
}

.w-130 {
  width: 130px;
}

.w-calc-150 {
  width: calc(100% - 150px);
}

.w-170 {
  width: 170px;
}

.w-122 {
  width: 122px;
}

.w-374 {
  width: 374px;
}

.m-w-570 {
  min-width: 570px;
}

.max-w-665 {
  max-width: 665px;
}

.max-w-916 {
  max-width: 916px;
}

.max-w-740 {
  max-width: 740px;
  margin-right: 20px;
}

.w-298 {
  width: 298px;
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
  //@media only screen and (min-width: 1200px) {
  //  width: 230px !important;
  //}
  //@media only screen and (min-width: 992px) and (max-width: 1200px) {
  //  width: 298px;
  //}
}

.w-284 {
  width: 284px;
}

.w-calc-298 {
  width: calc(100% - 298px);
  @media only screen and (max-width: 992px) {
    width: 100%;
    margin-bottom: 20px;
  }
  //@media only screen and (min-width: 1200px) {
  //  width: 230px !important;
  //}
  //@media only screen and (min-width: 992px) and (max-width: 1200px) {
  //  width: 250px;
  //}
}

.w-217 {
  width: 217px;
}

.w-calc-217 {
  width: calc(100% - 217px);
}

.w-calc-374 {
  width: calc(100% - 374px);
}

.w-232 {
  width: 232px;
}

.w-69 {
  width: 69px;
}

.w-16 {
  width: 16px;
}

.w-153 {
  width: 153px;
}

.w-218 {
  width: 218px;
}

.w-150 {
  width: 150px;
}

.w-200 {
  width: 200px;
}

.w-fixed-200 {
  width: 200px;
}

.w-calc-200 {
  width: calc(100% - 200px);
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
}

.w-calc-218 {
  width: calc(50% + 218px);
}

.w-319 {
  width: 319px;
  @media only screen and (max-width: 992px) {
    width: 220px !important;
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    width: 250px;
  }
}

.w-calc-319 {
  width: calc(100% - 319px);
  @media only screen and (max-width: 992px) {
    width: calc(100% - 220px);
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    width: calc(100% - 250px);
  }
}

.w-233 {
  width: 233px;
  @media only screen and (max-width: 992px) {
    width: 100%
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    width: 233px;
  }
}

.w-calc-233 {
  width: calc(100% - 233px);
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
}

.w-95 {
  width: 95px;
  @media only screen and (max-width: 992px) {
    width: calc(100% - 132px);
  }
}

.w-303 {
  width: 303px;
  @media only screen and (max-width: 992px) {
    width: 100%;
    margin-top: 10px;
  }
}

.w-calc-303 {
  width: calc(100% - 303px);
  padding-right: 13px;
  @media only screen and (max-width: 992px) {
    width: 100%;
    padding-right: 0;
  }
}

.m-w-216 {
  max-width: 216px;
}

.w-90 {
  width: 90px;
}

.w-290 {
  width: 290px;
}

.w-92 {
  width: 92px;
}

.w-19-0 {
  width: 19%;
  @media only screen and (max-width: 1200px) {
    width: 36%;
  }
}

.w-34-0 {
  width: 34%;
  @media only screen and (max-width: 1200px) {
    width: 64%;
  }
}

.w-47-0 {
  width: 47%;
  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}

// margin
.mt-26 {
  margin-top: 26px !important;
}

.mt-23 {
  margin-top: 23px;
}
.mt-5px {
  margin-top: 5px;
}

.mt-70 {
  margin-top: 70px;
}
.mt-22 {
  margin-top: 22px;
}

.mt-36 {
  margin-top: 36px;
}

.mb-4px {
  margin-bottom: 4px;
}

.mt-49 {
  margin-top: 49px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-45 {
  margin-bottom: 45px;
}

.me-22 {
  margin-right: 22px;
}

.me-40 {
  margin-right: 40px;
}
.me-70 {
  margin-right: 70px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ms-9 {
  margin-left: 9px;
}

.mt-10 {
  margin-top: 10px;
}

.ms-35 {
  margin-left: 35px;
}

.me-20 {
  margin-right: 20px;
}

.me-32 {
  margin-right: 32px;
}

.mt-34 {
  margin-top: 34px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mt-17 {
  margin-top: 17px;
}

.mb-38 {
  margin-bottom: 38px !important;
}

.mt-45 {
  margin-top: 45px;
}

.ms-28 {
  margin-left: 28px;
}

.me-12 {
  margin-right: 12px;
}

.me-15 {
  margin-right: 15px;
}

.me-25 {
  margin-right: 25px;
}

.ms-14 {
  margin-left: 14px;
}
.ms-10 {
  margin-left: 10px;
}

.ms-18 {
  margin-left: 18px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-11 {
  margin-top: 11px;
}

.ms-20 {
  margin-left: 20px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-12 {
  margin-top: 12px;
}

.me-19 {
  margin-right: 19px;
}

.ms-25 {
  margin-left: 25px;
}

.mt-30 {
  margin-top: 30px;
}

// Padding
.p-6 {
  padding: 6px;
}
.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}
.ps-42 {
  padding-left: 42px !important;
}

.ps-36 {
  padding-left: 36px !important;
}
.p-30 {
  padding: 30px;
}

.pe-17 {
  padding-right: 17px;
}

.px-38 {
  padding-left: 38px;
  padding-right: 38px;
}

.pe-40 {
  padding-right: 40px !important;
}

.p-17 {
  padding: 17px;
}

.p-20 {
  padding: 20px;
}

.pe-70 {
  padding-right: 70px !important;
}

.pt-24 {
  padding-top: 24px;
}
.pt-10 {
  padding-top: 10px;
}
.px-9 {
  padding-left: 9px;
  padding-right: 9px;
}
.pt-23 {
  padding-top: 23px;
}

.mb-30 {
  margin-bottom: 30px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.px-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pb-27 {
  padding-bottom: 27px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-22 {
  padding-left: 22px;
  padding-right: 22px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.ps-64 {
  padding-left: 64px !important;
}

.ps-23 {
  padding-left: 23px;
}

// Height
.h-5 {
  height: 50px;
}

.h-40 {
  height: 40px;
}

.h-26 {
  height: 26px;
}
.h-27 {
  height: 27px;
  line-height: 27px;
}

.h-45 {
  height: 45px;
}

.h-41 {
  height: 41px;
}

.m-h-158 {
  min-height: 158px !important;
}
.min-vh-100-65 {
  min-height: calc(100vh - 66px);
}
.l-h-50 {
  line-height: 50px;
}
.top-65 {
  top: 65px !important;
}
.z-15 {
  z-index: 15 !important;
}
.l-h-35 {
  line-height: 35px;
}
.l-h-21 {
  line-height: 21px;
}

.h-80 {
  height: 80px;
}

.min-h-80 {
  min-height: 80px;
}

// Border
.border-gray {
  border: 1px solid $base-color-gray;
}
.border-left-5-blue {
  border-left: 5px solid $base-color;
}
.border-2-blue {
  border: 2px solid $base-color;
}
.border-radius-5-red {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    border-left: 5px solid $base-color-red;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.border-bottom-gray {
  border-bottom: 1px solid #F0EFEF;
}
.border-radius-4 {
  border-radius: 4px;
}

.border-radius-5-gray {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    border-left: 5px solid $base-color-gray-blur;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.border-input {
  border: 1px solid $base-color-gray;
}

.border-radius-55 {
  border-radius: 55px;
}

.border-radius-40 {
  border-radius: 40px;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-7 {
  border-radius: 7px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-left-4 {
  border-left: 4px solid #CEDAF1;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-right {
  position: relative;

  &:after {
    width: 1px;
    position: absolute;
    height: 20px;
    content: "";
    top: 13px;
    right: 0;
    border-right: 1px solid $base-color-gray-dark;
  }
}

.border-right-md {
  position: relative;

  &:after {
    width: 1px;
    position: absolute;
    height: 20px;
    content: "";
    top: 13px;
    right: 0;
    border-right: 1px solid $base-color-gray-dark;
    @media only screen and (max-width: 768px) {
      border: none;
    }
  }
}

.border-right-lg {
  position: relative;

  &:after {
    width: 1px;
    position: absolute;
    height: 20px;
    content: "";
    top: 13px;
    right: 0;
    border-right: 1px solid $base-color-gray-dark;
    @media only screen and (max-width: 992px) {
      border: none;
    }
  }
}

.border-dashed {
  border: 1px dashed #003B90;
}

.border-radius-top-right-6 {
  border-radius: 0 6px 6px 0;
}

.border-top-blue {
  border-top: 0.5px solid $base-color;
}

.border-red {
  border: 2px solid $base-color-red;
}

// Front size
.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.fs-26 {
  font-size: 26px;
}

.fs-16 {
  font-size: 16px;
}

.ff-nt-sans {
  font-family: notosan;
}

.ff-roboto {
  font-family: 'Roboto';
}

.cursor-pointer {
  cursor: pointer;
}

.visibility-hidden {
  visibility: hidden;
}


// postition
.right-32 {
  right: 32px;
}

.right-40 {
  right: 40px;
}

.right-8 {
  right: 8px;
}

.top-7 {
  top: 7px;
}

.top-13 {
  top: 13px;
}

.right-17 {
  right: 17px;
}

.top-11 {
  top: 11px;
}

// Base
li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.button {
  border: none;
  outline: none;
  transition: .3s ease-in-out;

  &:focus {
    outline: none;
    background: initial;
    border: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

//.wrapper {
//  overflow: hidden;
//}

.sidebar-wrapper {
  position: fixed;

  .sidebar {
    width: 346px;

    .box-slogan {
      margin: 23px 20px 10px 20px;

      .slogan {
        font-family: 'notosan';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        color: $base-color;
        margin-left: 24px;
        letter-spacing: 0.15em;
      }

    }

    .box-info {
      margin-left: 88px;
      margin-right: 20px;
      color: $base-color;
      font-style: normal;
      font-size: 15px;
      line-height: 20px;

      .name {
        font-weight: 700;
      }

      .day, .date {
        font-weight: 400;
      }
    }

    .box-logo {
      margin: 50px 0 60px 81px;
    }

    .box-menu {

      .nav-menu {

        .nav-item {

          .nav-link {
            position: relative;
            padding: 20px 30px;
            transition: .3s ease-in-out;

            &:hover {
              background: #F6F8FB;

              &:before {
                content: "";
                border-left: 4px solid $base-color-brick;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
              }
            }

            &.active {
              background: #F6F8FB;

              &:before {
                content: "";
                border-left: 4px solid $base-color-brick;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
              }
            }
          }

          .icon-menu {
            margin-right: 30px;
          }

          .text-menu {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: $base-color;
            letter-spacing: 0.1em;
          }
        }

      }

      .logout {
        margin: 55px 30px 0 30px;

        .nav-link {
          background: $base-color-button;
          border-radius: 12px;
          padding-top: 25px;
          padding-bottom: 25px;

          .icon-menu {
            margin-right: 30px;
            width: 27px;
            height: 27px;
          }
        }
      }

    }

  }
}

// Collapse-menu

.collapse-menu {
  .sidebar {
    width: 81px;

    .box-slogan {
      .slogan {
        display: none;
      }
    }

    .box-info {
      display: none;
    }

    .box-logo {
      display: none;
    }

    .box-menu {
      margin-top: 289px;

      .logout {
        margin-left: 20px;
        margin-right: 20px;

        .nav-link {
          border-radius: 5px;
          width: 43px;
          height: 43px;
          padding: 0;
          margin: 0;

          .icon-menu {
            width: 20px;
            height: 20px;
            margin: 0;
          }
        }
      }
    }
  }

  .text-menu {
    display: none;
  }

  .content-wrapper {
    margin-left: 81px;
  }
}

.content-wrapper {
  margin-left: 346px;
  background: #F1F4F7;

  .content {
    min-height: 100vh;

    .header {
      z-index: 10;
      background: #F1F4F7;
      top: 0;

      .clearfix {
        border-bottom: 1px solid #CBCBCB;
      }

      .header-top {
        height: 65px;
        margin-left: 39px;
        @media only screen and (max-width: 992px) {
          margin-left: 15px;
        }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          margin-left: 20px;
        }

        .icon-menu {
          margin-right: 19px;
        }

        .text-menu {
          font-family: 'Noto Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          letter-spacing: 0.1em;
        }
      }

      .header-bottom {
        margin-left: 39px;
        min-height: 76px;
        @media only screen and (max-width: 992px) {
          margin-left: 15px;
        }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          margin-left: 20px;
        }

        .header {
          @media only screen and (max-width: 992px) {
            margin-right: 15px;
          }
          @media only screen and (min-width: 992px) and (max-width: 1200px) {
            margin-right: 20px;
          }
        }

        .title {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 26px;
          letter-spacing: 0.1em;
        }

        .btn {
          margin-left: 25px;
          margin-right: 89px;
          font-family: 'Noto Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.1em;
          background: #DA3915;
          color: #fff;
          border-radius: 50px;
          width: 200px;
          height: 30px;
          padding: 0;
        }

        .date, .quantity {
          font-family: 'Noto Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          letter-spacing: 0.1em;
          color: #000000;
          margin-right: 30px;

          .date-time {
            font-family: 'Roboto';
          }
        }

        .date {
          .date-time {
            margin-left: 10px;
          }
        }

        .quantity {
          .date-time {
            margin-left: 6px;
          }
        }

        .box-nav-tab {
          .nav-tabs {
            border: none;
          }

          .nav-link {
            border: none !important;
            position: relative;
            color: #000000;
            height: 50px;

            &.text-gray-blur {
              color: $base-color-gray-blur;
            }

            .badge {
              width: 28px;
              height: 28px;
              padding: 0;
              line-height: 28px;
            }

            &.active {
              background: transparent;
              color: #003B90;

              &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 4px;
                bottom: 0;
                background: $base-color;
              }
            }

            &:focus {
              border: none !important;
              outline: none;
            }

            &:focus-visible {
              border: none;
              outline: none;
              box-shadow: none;
            }
          }
        }


      }

      .box-content {
        margin-left: 39px;
        @media only screen and (max-width: 992px) {
          margin-left: 15px;
        }

        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          margin-left: 20px;
        }

        .title {
          color: $base-color;
        }

        .tab-content {
          margin-right: 32px;
          @media only screen and (max-width: 992px) {
            margin-right: 15px;
          }

          @media only screen and (min-width: 992px) and (max-width: 1200px) {
            margin-right: 20px;
          }

          .box-table {
            font-size: 14px;

            .table-project {
              //align-content: center;
              tr:nth-child {
                background-color: #FFFFFF;
              }

              td {
                padding: 30px 18px !important;
              }

              tr:nth-child(even) {
                background-color: $base-color-gray-1;
                color: #000;
              }
            }
          }
        }

        .box-content-left {
          .box {
            padding: 32px 50px;
            background: #FFFFFF;
            border-radius: 20px;

            .title {
              color: #000000;
            }

            .label {
              margin-bottom: 14px;
              margin-top: 30px;

              .button-danger {
                border-radius: 4px;
                background: $base-color-button-red;
                width: 62px;
                height: 26px;
                color: #fff;
                line-height: 0;
                margin-left: 19px;

                &:hover {
                  opacity: 0.8;
                }
              }
            }

          }

          .box-2 {
            margin-top: 24px;
          }
        }

        .box-content-right {
          position: sticky;
          top: 200px;

          .custom-brick {
            position: relative;

            &:before {
              position: absolute;
              width: 4px;
              height: 21px;
              top: 0;
              left: -4px;
              content: "";
              border-left: 4px solid $base-color;
              //transform: rotate(90deg);
            }
          }
        }
      }
    }

    .main {
      .box-content {
        margin-left: 39px;
        @media only screen and (max-width: 992px) {
          margin-left: 15px;
        }

        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          margin-left: 20px;
        }

        .title {
          color: $base-color;
        }

        .tab-content {
          margin-right: 32px;
          @media only screen and (max-width: 992px) {
            margin-right: 15px;
          }

          @media only screen and (min-width: 992px) and (max-width: 1200px) {
            margin-right: 20px;
          }

          .box-table {
            font-size: 14px;

            .table-project {
              //align-content: center;
              tr:nth-child {
                background-color: #FFFFFF;
              }

              td {
                padding: 30px 18px !important;
              }

              tbody {
                tr {
                  cursor: pointer;

                  &:hover {
                    opacity: 0.7;
                  }
                }
              }

              tr:nth-child(even) {
                background-color: $base-color-gray-1;
                color: #000;
              }
            }
          }
        }

        .box-content-left {
          .box {
            padding: 32px 50px;
            background: #FFFFFF;
            border-radius: 20px;

            .title {
              color: #000000;
            }

            .label {
              margin-bottom: 14px;
              margin-top: 30px;

              .button-danger {
                border-radius: 4px;
                background: $base-color-button-red;
                width: 62px;
                height: 26px;
                color: #fff;
                line-height: 0;
                margin-left: 19px;

                &:hover {
                  opacity: 0.8;
                }
              }
            }

          }

          .box-2 {
            margin-top: 24px;
          }
        }

        .box-content-right {
          position: sticky;
          top: 200px;

          .custom-brick {
            position: relative;

            &:before {
              position: absolute;
              width: 4px;
              height: 21px;
              top: 0;
              left: -4px;
              content: "";
              border-left: 4px solid $base-color;
            }

            &.active1 {
              &:before {
                top: 0;
              }
            }

            &.active2 {
              &:before {
                top: 58px;
              }
            }

            &.active3 {
              &:before {
                top: 116px;
              }
            }

            &.active4 {
              &:before {
                top: 174px;
              }
            }

            &.active5 {
              &:before {
                top: 232px;
              }
            }

            &.active6 {
              &:before {
                top: 290px;
              }
            }

            &.active7 {
              &:before {
                top: 348px;
              }
            }

            &.active8 {
              &:before {
                top: 408px;
              }
            }
          }

          .text-focus {
            transition: 0.3s ease-in-out;

            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

body {
  //overflow-x: hidden;
}

//@include media-breakpoint-down(md) {
//  padding: 0 15px;
//}

// Input date

.input-field {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  display: block;
  width: 40%;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid black;

}

.input-date[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border-width: thin
}

.input-date[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 12px;
  top: 10px;
  z-index: 2;
  opacity: 0;
}

.input-date::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 20%;
}

.input-date {
  position: relative;
  //left: 10%;
}

.form-date {
  position: relative;

  .date {
    position: absolute;
    top: 10px;
    left: 12px;
    z-index: 1;
  }
}

.form-number {
  position: relative;

  .number {
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 1;
  }
}

// Input checkBox

.form-checkbox {
  input[type="checkbox"] {
    accent-color: #fff;
    //border: none;
    border: 1px solid red;
  }

  input[type="checkbox"]:disabled {
    background: red;
  }

  input[type="checkbox"]:checked + .form-checkbox {
    background: red;
  }

  label {
    color: #000000;
    margin-left: 64px;
  }

  &.active {
    background: #B7C8DE !important;
    border: 2px solid $base-color;
    margin-left: -1px;
  }

  .checkmark {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    background: #FFFFFF;
  }
}

.box {
  .icon-show {
    &.show {
      transform: rotate(180deg);
    }

    transition: 0.3s;
  }
}

//input[type="date"] {
//  border: none;
//  box-sizing: border-box;
//  outline: 0;
//  padding: .75rem;
//  position: relative;
//  width: 100%;
//}
//
//input[type="date"]::-webkit-calendar-picker-indicator {
//  background: transparent;
//  bottom: 0;
//  color: transparent;
//  cursor: pointer;
//  height: auto;
//  left: 0;
//  position: absolute;
//  right: 0;
//  top: 0;
//  width: auto;
//}
//

// check box

input[type="checkbox"], input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 12px;
  left: 27px;
  height: 24px;
  width: 24px;
  background-color: #eee;
}

.checkmark-radio {
  position: absolute;
  top: 12px;
  left: 27px;
  height: 24px;
  width: 24px;
  border: 1px solid #D8D8D8;
  border-radius: 50px;
}

///* On mouse-over, add a grey background color */
//.container:hover input ~ .checkmark {
//  background-color: #ccc;
//}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark, .checkmark-radio {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after, input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  content: url("../image/icon_check_3.svg");
  left: 3px;
  top: 0;
}

.checkmark-radio:after {
  width: 16px;
  height: 16px;
  background: $base-color;
  left: 3px;
  top: 3px;
  border-radius: 50%;
}

.radio-custom {
  .checkmark-radio {
    left: 17px;
    top: 11px;
  }

  label {
    margin-left: 35px;
  }
}

.table {
  th {
    padding: 0 20px !important;
    @media only screen and (max-width: 992px) {
      padding: 0 10px !important;
    }
  }

  td {
    padding: 10px 20px !important;
    @media only screen and (max-width: 992px) {
      padding: 10px 10px !important;
    }
  }
}

//.table-border {
//  td, th {
//    border: 1px solid #E9E9E9;
//  }
//}
.box-show {
  padding: 37px 33px;
}

.table {
  border-collapse: collapse;

  td, th {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-bottom: none;
    border-top: none;
  }

  tr td:first-child, tr th:first-child {
    border-left: 0;
  }

  tr td:last-child, tr th:last-child {
    border-right: 0;
  }

  .tr-hover {
    transition: 0.3s ease-out;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

// disable submit
.disable-submit {

}

.form-checkbox-custom {
  background: #A3A3A3;

  &.active {
    background: #75C350;

    div {
      background: #529B30;
    }
  }

  input {
    left: unset;
    top: 6px;
    right: 6px;

  }

  span {
    top: 6px;
    right: 6px;
    left: unset;
  }

  input:checked ~ .icon.checkmark:after {
    top: 7px;
    left: 13px;
  }

  .icon {
    width: 40px;
    position: absolute;
    right: 0;
    left: unset;
    top: 0;
    bottom: 0;
    height: unset;
    background: #5F5D5D;
    border-radius: 0 6px 6px 0;

    .checkmark {
      width: 28px;
      height: 28px;
      top: 5px;
      right: 6px;
      border-radius: 4px;
    }
  }
}

// css modal
.modal-4 {

  .box-form-date {
    .w-252 {
      @media only screen and (max-width: 992px) {
        width: 177px;
      }
    }

    .w-61 {
      @media only screen and (max-width: 992px) {
        width: 46px;
      }
    }
  }

  .w-125 {
    @media only screen and (max-width: 992px) {
      width: 50%;
    }
  }

  .w-165 {
    @media only screen and (max-width: 992px) {
      width: 50%;
    }
  }

}

// custom date picker
//.datepicker-custom {
//  width: 458px;
//  height: 416px;
//  .ui-datepicker-inline {
//    width: 100%;
//    height: 100%;
//    padding: 40px;
//    .ui-datepicker-header {
//      background: transparent;
//      border: none;
//    }
//
//    .ui-state-default {
//      border: none;
//      background: transparent;
//      color: $base-color;
//      line-height: 45px;
//      border-radius: 50%;
//      transition: 0.2s ease-out;
//      font-size: 19px;
//      font-family: notosan;
//      font-style: normal;
//      &:hover {
//        background: $base-color;
//        color: #FFFFFF;
//      }
//      &.ui-state-active {
//        background: $base-color;
//        color: #FFFFFF;
//      }
//    }
//    td, a {
//      height: 52px;
//      width: 52px;
//    }
//    td, th, a {
//      text-align: center;
//    }
//  }
//}

.ui-datepicker {
  width: 458px !important;
  height: 475px !important;
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto;
  padding: 40px !important;
  border: 1px solid #DBDBDB !important;
  border-radius: 5px !important;
  z-index: 9991 !important;
  top: 0 !important;
  bottom: 0 !important;

  .ui-datepicker-title {
    margin: 0 !important;
    text-align: start !important;
    font-family: notosan;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
  }

  .ui-datepicker-header {
    background: transparent;
    border: none;

    .ui-datepicker-prev, .ui-datepicker-next {
      position: absolute;
      left: unset;
      width: 10px !important;
      height: 18px !important;
      margin: auto;
      top: 0;
      bottom: 0;
      cursor: pointer;

      &:hover {
        border: none;
        opacity: 0.8;
      }
    }

    .ui-datepicker-prev {
      background: url("../image/icon_arr_left_red.svg") no-repeat;
      right: 54px;
    }

    .ui-datepicker-next {
      background: url("../image/icon_arr_right_red.svg") no-repeat;
      right: 5px;
    }
  }

  .ui-state-default {
    border: none !important;
    background: transparent !important;
    color: $base-color !important;
    line-height: 45px;
    border-radius: 50%;
    transition: 0.2s ease-out;
    font-size: 19px;
    font-family: notosan;
    font-style: normal;
    text-align: center;
    z-index: 9992 !important;

    &:hover {
      background: $base-color !important;
      color: #FFFFFF !important;
    }

    &.ui-state-active {
      background: $base-color !important;
      color: #FFFFFF !important;;
    }
  }

  td, a {
    height: 52px !important;
    width: 52px !important;
  }

  td, th, a {
    text-align: center;
  }

  th {
    color: #BABABA;
    font-size: 16px;
    font-weight: 600;
  }
}

.datepicker-custom-icon {
  padding-left: 66px !important;
}

// Custom select option
.custom-select {
  position: relative;
  font-family: Arial;
  color: #000000;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  background: url("../image/icon_select_arr_bottom.svg");
  top: 0;
  bottom: 0;
  margin: auto;
  width: 34px;
  height: 35px;
  right: 8px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  //top: 7px;
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #000000;
  padding: 13px 19px;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;

}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #F1F4F7;
}

.form-date-custom {
  position: relative;

  &:after {
    content: url("../image/icon_date.svg");
    position: absolute;
    top: 10px;
    left: 13px;
  }
}

ul.ui-autocomplete {
  li {
    background: #FFFFFF;

    &:hover {
      background: #F1F4F7 !important;
    }
  }
}

.ui-autocomplete .ui-state-hover, .ui-autocomplete .ui-state-active, .ui-autocomplete .ui-state-focus {
  margin: 0;
}

.ui-menu a {
  //padding-left: 50px !important;
}

.ui-menu .ui-menu-item-wrapper {
  padding-left: 19px !important;
  height: 50px !important;
  transition: 0s;

  &:hover {
    background: #F1F4F7 !important;
  }
}

.hover-opacity {
  transition: 0.3s ease-out;

  &:hover {
    opacity: 0.8;
  }
}

.loading {
  z-index: 9999;

  .backdrop {
    background: #FFFFFF;
    opacity: 0.5;
  }
}

.badge-search {
  width: 26px;
  height: 26px;
  line-height: 26px;
  padding: 0;
}

//.display-badge {
//  display: none !important;
//}
.modal-backdrop {
  transition: 0.3s ease-in-out;

}

.table-border-top {
  td {
    border-top: 1px solid #E9E9E9;
  }

  tbody {
    td {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1em;
      color: #000000;
      padding: 20px !important;
    }
    tr {
      &:hover {
        background: #F5F5F5;
      }
    }
  }

}


// Cat
.cat {
  margin-right: 28px;
  @media only screen and (max-width: 992px) {
    margin-right: 15px;
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    margin-right: 20px;
  }
}

.transport-left {
  top: 143px !important;
  z-index: 11;
}
.border-radius-10-top-right {
  border-radius: 10px 10px 0 0;
}

.sort-menu {
  position: absolute;
  right: 0px;
  padding: 0px;
  margin: 0px;
  display: block;
  outline: 0px;
  top: 45px;
  z-index: 999;
}

.sort-menu {
  position: absolute;
  right: 0px;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
  margin-top: 45px;
  z-index: 999;
}

.sort-menu-item {
  line-height: 50px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  background: #ffffff;
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.sort-menu-item:hover {
  text-decoration: none;
  color: #212529 !important;
  background-color: #F1F4F7 !important;
  cursor: pointer;
  border: none;
}

.sort-menu-item-wrapper {
  padding-left: 19px !important;
  height: 50px !important;
  line-height: 50px !important;
  transition: 0s;
  position: relative;
  padding: 3px 1em 3px .4em;
}